@font-face {
    font-family: 'Aquawax';
    src: url('Aquawax.ttf');
}

@font-face {
    font-family: 'Freshman';
    src: url('Freshman.ttf');
}

header{
	height: 200px;
	background-color: rgb(51,51,51);
}

#titre_principal{
	display: flex;
	flex-direction: column;
}

#logo{
	display: flex;
	flex-direction: row;
}

#logo img{
	margin-left: 15px;
	height: 198px;
	width: auto;
}

header h1{
	margin: 40px 0 0 30px;
	color: white;
	font-size: 6em;
	font-family: 'Freshman';
	font-weight: normal;
	text-shadow: 4px 4px 4px black;
}

header h2{
	font-size: 1.5em;
	color: white;
	font-weight: normal;
	font-family: 'Aquawax';
	margin: 0 0 0 450px;
	text-shadow: 4px 4px 4px black;
}

body {
	background-color: rgb(254, 254, 226);
}

div{
	margin-top: 0px;
	margin-bottom: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu ul{
	margin-left: 30px;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #menu-button {
  display: none;
}

#cssmenu {
  border-top: 1px solid white;
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#cssmenu > ul > li {
  float: left;
}

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

#cssmenu > ul > li:hover > a {
  color: rgb(200, 173, 127);
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  background: #333333;
  text-shadow: 2px 2px 2px black;
}

#cssmenu ul ul li a:hover {
  color: rgb(200, 173, 127);
}

div{
	margin-top: 0px;
	margin-bottom: 10px;
}

section{
	width: 600px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

section h1{
	font-family: 'Aquawax';
	text-align: center;
	font-size: 2.3em;
	border: 3px solid black;
}

section h2{
	font-family: 'Aquawax';
}

fieldset{
	border: 3px solid black;
}

legend{
  font-size: 1.3em;
}

footer {
  position: bottom;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: rgb(51,51,51);
  width: 100%;
}

.footer_texte a{
  padding: 17px;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  font-family: Montserrat, sans-serif;
  line-height: 50px;
}

.footer_texte ul{
  list-style-type: none;
}

.footer_texte li{
  display: inline-block;
  margin-right: 10px;
}

.footer_texte a:hover{
  color: rgb(200, 173, 127);
  text-shadow: 3px 3px 3px black;
}